body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #eef2f3;
}
h2 {
  color: #333;
}
#instructions {
  margin-top: 15px;
  padding: 10px;
  background: #ffefc2;
  border: 1px solid #333;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.hidden {
  display: none;
}
